Source: ninja-enterprise
Section: main
Priority: optional
Maintainer: Fernando Augusto Medeiros Silva <fams@linuxplace.com.br>
Build-Depends-Indep: debhelper
Standards-Version: 3.5.6

Package: ninja-enterprise
Architecture: all
Depends: postfix, ninja-base, postfix-ldap, postfix-tls, webmin-postfix, sasl2-bin, libsasl2-modules, libsasl2, amavisd-new, clamav-daemon, clamav, clamav-base, clamav-freshclam, spamassassin, apache2, libapache2-mod-php4, horde3, turba2, imp4, maildrop, courier-pop, courier-imap, courier-imap-ssl, courier-authdaemon, courier-ldap, php4-ldap, php4-gd, php4-imap
Description: Ninja Project
 This meta package will install Debian packages which build a system
 for Ninja enterprise mail server
