Source: ninjaserver
Section: unknown
Priority: extra
Maintainer: Pedro S. Bizzotto <pedro@linuxplace.com.br>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: ninjaserver
Architecture: all
Depends: libconfig-inifiles-perl,libnet-ldap-perl, perl-suid
Description: Programa auxiliar para criar home directory, maildir, etc. 
 Criado para acompanhar o idxldapaccounts modificado pela Linux Place
 Feito por Fernando Augusto Medeiros Silva - <fams@linuxplace.com.br>
