Source: webmin-idxldapaccounts-linuxplace
Section: main
Priority: optional
Maintainer: Pedro Schaper Bizzotto <pedro@linuxplace.com.br>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: webmin-idxldapaccounts-linuxplace
Architecture: all
Depends: webmin (>= 1.130), libnet-ldap-perl, libcrypt-smbhash-perl, libunicode-maputf8-perl, libdigest-sha1-perl 
Description: Modulo idxldapaccounts modificado para o GEDAI
 Feito para o projeto GEDAI
