Source: ninja-base
Section: main
Priority: optional
Maintainer: Fernando Augusto Medeiros Silva <fams@linuxplace.com.br>
Build-Depends-Indep: debhelper
Standards-Version: 3.5.6

Package: ninja-base
Architecture: all
Depends: ldap-utils, ipcalc, dialog , shorewall, ssh, less, ntpdate, webmin, webmin-core, webmin-shorewall, webmin-sshd,webmin-updown, slapd, nscd, webmin-sysstats, webmin-idxldapaccounts-linuxplace, gnupg, gnupg-doc,  mondo, mindi, bzip2, lha, zoo, unrar, unarj, nomarch, ncompress, libnss-ldap, vim, expect, renattach, db4.2-util
Description: Ninja Project
 This meta package will install Debian packages which build a system
 for Ninja base system
