Source: getkeys
Section: net
Priority: extra
Maintainer: Pedro S. Bizzotto <pedro@linuxplace.com.br>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: getkeys
Architecture: all
Pre-Depends: debconf (>= 0.2.17), bc
Depends: gnupg,curl,openssh-server,gzip,tar,perl
Description: Pacote com o atualizador de chaves ssh
 Atualizador de chaves dsa/rsa, pega automaticamente chaves publicas no servidor da linuxplace.
